@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Logo arriba*/

.brand img{
	width: 220px;
	height: 60px;
	padding: 10px 15px;
  }
  
  body{
	  background: rgb(255, 255, 255);
	  font-family: 'open sans';
  }
  
  header{
	  width: 100%;
	  max-width: 1850px;
	  margin: auto;
  }
  
  nav{
	  background:#000;
	  margin-top: 20px;
	  position: relative;
  }
  
  
  nav ul{
	  list-style: none;
	  padding: 0;
	  margin: 0;
	  overflow: hidden;
  }
  
  nav > ul > li {
	  float: right;
  }
  
  nav ul li a {
	  text-decoration: none;
	  color: rgb(255, 255, 255);
	  display: block;
	  padding: 15px 20px;
  }
  
  nav ul li a:hover {
	  background: #DC7633;
  }
  
  nav > ul > li:hover div{
	  display: table;
	  
  }
  
  
  /*Submenu*/
  nav ul li div {
	  width: 80%;
	  position: absolute;
	  right: 0;
	  background: rgb(255, 255, 255);
	  box-sizing: border-box ;
	  display: none; /*esto hace aparecer y desaparecer el menu*/
	  
  }
  
  
  
  nav ul li div ul{
	  width: 20%;
	  display: table-cell; /*tamaño exacto a las otras categorias*/
	  border-right: 1px solid rgba(196, 195, 195, 0.568) ; /*divisiones*/
	  box-sizing: border-box;
  }
  
  nav ul li div ul:last-child{
	  border: none;
  }
  
  nav ul li div ul .titulo { /*titulo de las columnas*/
	  background: #DC7633;
	  color: #fff;
	  font-size: 20px;
  }
  
  nav ul li {
	font-size: 20px;
  }
  
  nav ul li div ul .titulo a{
	  color: #fff;
	  padding: 10px 20px;
  }
  
  /*para poner colo en cada titulo, se cambia en html el nombre en las clase titulo*/
  .titulo.verde{background: #365936;}
  .titulo.morado{background: #8b6bbe;}
  .titulo.rosado{background: #d18ac8;}
  
  nav ul li div ul .titulo a:hover{ /*que no cambie de color al pasar mouse*/
	  background: none;
  }
  
  nav ul li div ul li a {
	  color: rgb(46, 46, 46)
  
  }
  
  nav ul li div ul li a:hover {
	  color: #ffffff;
  }

body{
	background: #E0E4E5;
	font-family:'Poppins',sans-serif;;
}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h2{
	color: #DC7633;
	font-family: 'Poppins',sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h2:after{
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #000;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background:#DC7633;
}

/* PRODUCTOS ============*/

.products-list{
	width: 82%;
	height: 82%;
	display: flex;
	flex-wrap: wrap;
    
}


.products-list .product-item{
	
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	
	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
	
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #fff;
	font-family: 'Poppins',sans-serif;
	color: #3d3d3d;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}